{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="text-center">

    <h1 class="display-4 mb-3">
        📚 Book Store Management System
    </h1>

    <p class="lead">
        Welcome to the Book Management System built with Flask.
        Here you can manage your collection of books efficiently.
    </p>

    <a href="/add" class="btn btn-primary btn-lg mt-3">
    Add Book
</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.quantity }}</td>
            <td>

    <a href="/edit/{{ book.id }}" class="btn btn-warning btn-sm">
        Edit
    </a>

    <a href="/delete/{{ book.id }}"
       class="btn btn-danger btn-sm"
       onclick="return confirm('Delete this book?')">

        Delete

    </a>

</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}